<template>
  <h2>{{ msg }}</h2>
  <input type="text" ref="refrence" />
  <button @click="dirRef">ref</button>
  <button @click="sendData(valuePc)">send</button>
  <br />
  <br />

  <!-- form binding -->
  <h2>email: {{ form.email }}</h2>
  <h2>password: {{ form.password }}</h2>
  <form>
    <input
      type="text"
      placeholder="email"
      v-model.number="form.email"
    /><br /><br />
    <input
      type="password"
      placeholder="password"
      v-model="form.password"
    /><br /><br />
    <button @click="formSubmit">submit</button>
    <button @click="login">login</button>
  </form>

  <home data="any thing" id="id-non-prop">
    <h2>computed result:{{ publishedBooksMessage }}</h2>
    <h2>computed result:{{ fullName }}</h2>
    <h2>{{ totalMarks }}</h2>
    <h2>{{ sumNumber }}</h2>
    <h2>value increased by one :{{ count }}</h2>
    <button @click="count = count + 1">+</button>

    <input type="radio" />radio
    <p>This is injected content from the parent component.</p>
    <p>It can still bind to data in the parent's scope: {{ myVariable }}</p>

    <template v-slot:header>
      <h1>slot header content</h1>
    </template>
    <template #main>
      <h1>slot main content</h1>
    </template>
  </home>
  <!-- dynamic compnent -->
  <!-- <python></python>
  <javascript></javascript>
  <typescript></typescript> -->

  <!-- <button @click="tab = 'python'">python</button>
  <button @click="tab = 'javascript'">javascript</button>
  <button @click="tab = 'typescript'">typescript</button>

  <component :is="tab" /> -->
  <javascript></javascript>
  <typescript></typescript>
  <teleport to="#python">
    <!-- <span>teleport</span> -->
    <python />
  </teleport>
</template>

<script>
import home from "./home.vue";
import python from "./python.vue";
import javascript from "./javascript.vue";
import typescript from "./typescript.vue";
export default {
  name: "HelloWorld",

  components: {
    home,
    python,
    javascript,
    typescript,
  },
  props: {
    msg: String,
    sendData: Function,
  },
  data() {
    return {
      tab: "javascript",
      valuePc: "nafees",
      number: 2,
      number1: 3,
      number2: 10,
      number3: 20,
      count: 0,
      form: {
        email: "",
        password: "",
        err: [],
        author: {
          name: "John Doe",
          books: [
            "Vue 2 - Advanced Guide",
            "Vue 3 - Basic Guide",
            "Vue 4 - The Mystery",
          ],
        },
        firstName: "John",
        lastName: "Doe",
      },
    };
  },
  computed: {
    totalMarks() {
      return this.number * this.number1;
    },
    sumNumber() {
      return this.number2 + this.number3;
    },
  },

  methods: {
    dirRef() {
      // direct access to the dom elements
      this.$refs.refrence.focus();
      this.$refs.refrence.style.color = "green";
    },
    formSubmit(e) {
      e.preventDefault();
      console.log(
        `Email : ${this.form.email} password : ${this.form.password}`
      );
    },
    login() {
      for (let item in this.form) {
        if (this.form[item] === "" || this.form[item].length === 0) {
          this.err.push(item);
        }
      }
      console.log(this.form, this.err);
    },
  },
  watch: {
    count(val, pre) {
      if (val > 5 && val > pre) {
        this.count = 0;
      }
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
