<template>
  <div>
    <h1>repeat</h1>
    <h1 v-bind="$attrs">again</h1>
  </div>
  <slot name="header" />
  <slot name="main" />
</template>

<script>
export default {
  //   inheritAttrs: false,
  name: "homeVue",
};
</script>
<style></style>
