<template>
  <HelloWorld
    msg="Welcome to Your Vue.js App"
    :sendData="sendParentToChild"
    :id="id"
  />
  <h1>{{ valueP }}</h1>
</template>

<script>
import HelloWorld from "./components/HelloWorld.vue";

export default {
  name: "App",
  components: {
    HelloWorld,
  },
  data() {
    return {
      valueP: "",
    };
  },
  methods: {
    sendParentToChild(value) {
      this.valueP = value;
    },
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
